Package: scx-switcher-dbgsym
Source: scx-switcher
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: SCX Switcher <scx-switcher@local>
Installed-Size: 1391
Depends: scx-switcher (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for scx-switcher
Build-Ids: 37cf03731df40543b262dd11de0b2eed29ae1e0f
